.top-bar {
  background-color: $nav-background;
  ul {
    background-color: $nav-background;
  }
  .active-link {
    font-weight: bold;
    color: $link-active-color;
  }
  .top-bar-left {
    width: 50%;
    margin: auto;
    float: none;
  }
}

li {
  a {
    color: $link-default-color;
  }
  a:hover {
    color: $link-hover-color;
  }
  a:focus {
    color: $link-focus-color;
  }
}
